// Your custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";

// Media Queries Overrides
// @import "foundation/components/modules/mqueries";

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: index
:: tab/details
*/
.chord-cell{z-index:4;width:9px;height:9px;position: absolute;float:left;}

.s6{left:-2px;}
.s5{left:9px;}
.s4{left:20px;}
.s3{left:31px;}
.s2{left:42px;}
.s1{left:53px;}

.f1{top:0px;}
.f2{top:15px;}
.f3{top:30px;}
.f4{top:45px;}
.f5{top:60px;}
.f6{top:75px;}

.chord-string-group{
	background-image:url(../images/chord/fretboard.gif);
	background-repeat: no-repeat;
	width:57px;
	height:100px;
	position:relative;
}
.chord-name{
	width:57px;
}

.chord-main{
width:57px;
}


.chord-fret-base{
height:100px;
width:10px;
}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */
header {
	background-color: #2BA6CB;
}

footer {
	background: #3F3F3F;
	color: white;
	padding: 11px 0;
}
/* -----------------------------------------
   chord-chart
----------------------------------------- */
fretboard{
	
}


/* -----------------------------------------
   exam
----------------------------------------- */
.ciyu-with-pinyin {
	float: left;
}