

.main {
	margin: 0 auto;
	width: 960px;
}

#top {
	background: #ddd;
	width: 100%;
}

#top_center {
	margin: 0 auto;
	width: 960px;
}

#searchType {
	width: 60px;
	hight: 100%;
}

#footer {
	background: #ddd;
	margin-top: 20px;
	height: 30px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

#footer_center {
	margin: 0 auto;
	width: 960px;
	text-align: right;
	color: #aaa;
}

.common-table {
	width: 100%;
}